In [1]:
import re

In [16]:
chat1 = 'codebasics:you ask lot of questions 12345678912 , abf_@gmail.com'
chat2 = 'codebasic: yes phone : (653)-294-5521 , abcfjdsa@xyz.com'
chat2 = 'codebasic: yes phone : (653)-294-5621 , abcfadajdsa@xyz.com'

In [28]:
chat4 = 'Hello, I have a issue with order number 23548513'
chat5 = 'Hello, I have a issue with order # 23548515663'

In [33]:
text = '''Born	Ratan Naval Tata
28 December 1937 (age 85)
Bombay, Bombay Presidency, British India
Alma mater	Cornell University (BArch)
Occupation(s)	Industrialist, Philanthropist
Title	Chairman Emeritus, Tata Sons and Tata Group[1]
Term	
1991–2012
2016–2017
Predecessor	J. R. D. Tata
Successor	
Cyrus Mistry (2012–2016)
Natarajan Chandrasekaran (2017–present)
Parent	Naval Tata
Relatives	Tata family
Awards	
Order of Australia (2023)
Assam Baibhav (2021)
Honorary Knight Grand Cross of the Order of the British Empire (2014)
Padma Vibhushan (2008)
Maharashtra Bhushan (2006)
Padma Bhushan (2000)'''

In [44]:
# pattern = '\d{10}'
# pattern = '\(\d{3}\)-\d{3}-\d{4}'
# pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'
# pattern = '[a-zA-z0-9_]*@[a-zA-z0-9]*\.[a-zA-Z]*'

# pattern = 'order[^\d]*(\d*)'
pattern_age = 'age (\d+)'
pattern_name = 'Born(.*)'
pattern_DOB = 'Born.*\n(.*) \(age'
pattern_Bplace = '\(age.*\n(.*)'

matches = re.findall(pattern_age , text)
matches1 = re.findall(pattern_name , text)
matches2 = re.findall(pattern_DOB , text)
matches3 = re.findall(pattern_Bplace , text)


matches1[0].strip()
matches2
matches3

['Bombay, Bombay Presidency, British India']

In [45]:
def get_pattern_match(pattern ,text):
    matches = re.findall(pattern , text)
    if matches:
        return matches[0]

In [46]:
get_pattern_match(pattern_age , text)

'85'

In [51]:
def get_personal_info(text):
    age = re.findall('age (\d+)' , text)
    name = re.findall('Born(.*)' , text)
    DOB = re.findall('Born.*\n(.*) \(age',text)
    Birth_place = re.findall('\(age.*\n(.*)',text)

    return {
        'age' : int(age[0]),
        'name':name[0].strip(),
        'DOB': DOB[0].strip(),
        'Birth_place':Birth_place[0].strip()
    }

In [52]:
get_personal_info(text)

{'age': 85,
 'name': 'Ratan Naval Tata',
 'DOB': '28 December 1937',
 'Birth_place': 'Bombay, Bombay Presidency, British India'}